<!DOCTYPE html>
<html lang="en">
<head> 
    <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px;  /* The height is 400 pixels */
                width: 100%;  /* The width is the width of the web page */
                }
    </style>
          
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RTMS</title>
</head>
<body>
    <div id='input'>
        <h1 style="font-size:60px;">Real Time Monitoring System</h1>
        <hr>
        <!--This is where input starts for the fleet. It will take the name of place as input and use google services to identify it-->
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
        <br>
        <br>
        <p>{{Source}}
            <br>
            {{Destination1}}
            <br>
            {{Destination2}}
            <br>
            {{Destination3}}
            <br>
            {{Destination4}}
            <br>
            {{Destination5}}
            <br>
            {{Destination6}}
            <br>
            {{Destination7}}
            <br>
            {{Destination8}}
            <br>
            {{Destination9}}
            <br>
            {{Destination10}}
        </p>
        
        <p>{{result}}</p>
        <br>
        <br>
        <p>Distances</p>
        <br>
        <ul>
            <li>{{distance1}}</li>
            <li>{{distance2}}</li>
            <li>{{distance3}}</li>
            <li>{{distance4}}</li>
            <li>{{distance5}}</li>
            <li>{{distance6}}</li>
            <li>{{distance7}}</li>
            <li>{{distance8}}</li>
            <li>{{distance9}}</li>
            <li>{{distance10}}</li>
        </ul>
    </div>
    <br>
    <br>
    Load - {{Load}}
    <br>
    Dist - {{Dist}}
    <br>
    No_of_rounds - {{No_of_rounds}}
    <br>

    <div id='map'>
            <div id="map"></div>
        <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 19, lng: 72},
            zoom: 8
            });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgoNgiEhV3qRbsnm4c70Icl8OEZx-fCPc&callback=initMap"
        async defer></script>
    </div>

</body>
</html>