<!DOCTYPE html>
<Head><title>Login</title></Head>


<body>
    <div id="login">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}   

            <input type="submit" value="Login" class="btn btn-primary pull-right" />
        </form>
        <!--{% if errors %}
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}-->
    </div>
    <br><br>

    <a href='../'>Home Button</a>
</body>