<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
    <p> This is TMoS which is a Freight optimization based startup in the domain of Logistics and Supply Chain</p>
    <p>The Co-Founders who made this revolutionary technology possible are Prakhar and Anish, IIT Bombay Undergraduates who are
        doing Energy Engineering and thus were able to identify and solve this huge Energy problem, specially for India.
    </p>
    <br>
    <br>
    <br>
    <a href="../">Home</a>
</body>
</html>