<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMoS</title>
</head>
<body>
    <h1>Transport Monitoring System</h1>
    <h2>TMoS</h2>
    <br>
    {% load static %}
    <img src={% static "image/TMoSonlyT-02.png" %} alt="TMoS" align="middle">
    <br>
    <br>
    <p>Go to about page for company information.</p>
    <a href='about'>About Us</a>
    <br>
    <p>Go to Contact page to contact us about sales, or any query.</p>
    <a href='contact'>Contact Me</a>
    <br>
    <p>For visiting the Server Page for your fleet control, please click below.</p>
    <a href='rtms'>Fleet Control</a>
    <br>
    <br>
    <p> If you are already logged in, proceed to Fleet Control page. </p>
    <br>
    <a href='login'>Login</a>
</body>
</html>